@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color:#94a8e7;
  font-family: "Shadows Into Light", Helvetica, sans-serif;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-weight: bold;
  font-size: 40px;
  color: rgb(63, 73, 117);
  margin: 20px 0;
  margin-left: 25px;
}
.area {
  width: 300px; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
div.item{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
  color: rgb(63, 73, 117);
  cursor: pointer;
  background-color: #ccc;
  margin: 5px;
  border-radius: 5px;
}
.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
div.info {
  width: 320px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 2px dotted rgb(63, 73, 117);
  margin-left: 40px;
  border-radius: 5px;
 }
.infoitem{
  display: block;
  text-align: center;
  margin-right: 20PX;
  color: rgb(63, 73, 117);
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.winner-result{
  display: block;
  text-align: center;
  color: rgb(63, 73, 117);
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
button.reset{
  cursor: pointer;
  width: 100px;
  height: 30px;
  font-size: 15px;
  background-color: rgb(63, 73, 117);
  border-radius: 5px;
  border: 0;
  color: #FFF ;
  margin-top: 30px;
  margin-left: 25px;
  
 
}
.reset:hover{
  background-color: rgb(128, 115, 115);
  color: #FFF;
  width: 105px;
  height: 35px;

}  